/*ESTILO MOBILE*/
/*GENERAL*/
/*(000)*/
*{
    margin: 0%;
    padding: 0%;
}
h2{
    text-align :  center;
}
/*ESTILO SECCION 1*/
/*FIN ESTILO SECCION 1*/
/*ESTILO SECCION 2*/
/*(010) espacio*/
.containerSection2{
    margin: 34px;
}
/*(011) estilo de h2*/
.containerSection2 h2{
    margin: 5px 5px 15px;
    font-size: 45px;
}
/*(010) altura y espacios entre la etiqueta cuadro*/
.containerSection2Cuadro{
    height: auto;
    margin: 5px;
}
/*(010)*/
.containerSection2Cuadros{
    display: flex;
    flex-direction: column;
}
/*(010) flex del cuadro1*/
.containerSection2Parte1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*(010) flex del cuadro2*/
.containerSection2Parte2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*(010) Creacion de los margin para la espacio entre cada etiqueta*/
.containerSection2Info{
    margin: 10px;
}
/*(011) tamaño del font*/
.containerSection2Info h3{
    font-size: 22px;
}
/*(011)*/
.containerSection2Info p{
    font-size: 18px;
}
/*(011) creacion de los espacios entre las etiquetas */
.containerSection2Info h3,p,button{
    margin: 5px 0px 15px;
}
/*(010) estilo del boton */
.button {
    background-color: white;
    border: rgb(0, 119, 255) 2px solid;
    border-radius: 10px;
    margin: 8px;
    padding: 6px 19px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 140, 255);

}
/*(020) creacion del hover para los botones */
.button:hover {
    background-color: rgb(0, 119, 255);
    color: white;
}
/*(021)*/
.containerSection2Info a:hover{
    color: white;
}
/*FIN ESTILO SECCION 2*/
/*ESTILO SECCION 3*/
/*FIN ESTILO SECCION 3*/
/*ESTILO SECCION 4*/
/*FIN ESTILO SECCION 4*/
/*ESTILO SECCION 5*/
/*FIN ESTILO SECCION 5*/
/*ESTILO SECCION 6*/
/*FIN ESTILO SECCION 6*/
/*MEDIAQUERYS PARA TABLET*/
@media screen and (min-width:600px) and (max-width:991px) {
    /*SECCION 2*/
    /*(010) flex del cuadro1*/
    .containerSection2Parte1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    /*(010) flex del cuadro2*/
    .containerSection2Parte2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .containerSection2Cuadro{
        height: 48%;
        margin: 5px;
    }
    /*FIN SECCION 2*/
}
/*MEDIAQUERYS PARA ORDENADOR*/
@media screen and (min-width:992px)  {
    /*SECCION 2*/
    /*(010)*/
    .containerSection2Cuadros{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /*(010) flex del cuadro1*/
    .containerSection2Parte1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    /*(010) flex del cuadro2*/
    .containerSection2Parte2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .containerSection2Cuadro{
        height: 23%;
    }
    /*FIN SECCION 2*/
}