/*ESTILO MOBILE*/
/*GENERAL*/
/*(000)*/
*{
    margin: 0%;
    padding: 0%;
}
h2{
    text-align :  center;
}
body{
    padding-bottom: 2em;
}
/*ESTILO SECCION 1*/
/*(010) espacio*/
.containerSection1{
    margin: 34px;
}
/*(011) estilo de h2*/
.containerSection1 h2{
    margin: 5px 5px 15px;
    font-size: 45px;
}
/*(010) altura y espacios entre la etiqueta cuadro*/
.containerSection1Cuadro{
    height: auto;
    margin: 5px;
}
/*(010)*/
.containerSection1Cuadros{
    display: flex;
    flex-direction: column;
}
/*(010) flex del cuadro1*/
.containerSection1Parte1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*(010) flex del cuadro2*/
.containerSection1Parte2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*(010) Creacion de los margin para la espacio entre cada etiqueta*/
.containerSection1Info{
    margin: 10px;
}
/*(011) tamaño del font*/
.containerSection1Info h3{
    font-size: 22px;
}
/*(011)*/
.containerSection1Info p{
    font-size: 18px;
}
/*(011) creacion de los espacios entre las etiquetas */
.containerSection1Info h3,p,button{
    margin: 5px 0px 15px;
}
/*(010) estilo del boton */
.button {
    background-color: white;
    border: rgb(0, 119, 255) 2px solid;
    border-radius: 10px;
    margin: 8px;
    padding: 6px 19px;
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 140, 255);

}
/*(020) creacion del hover para los botones */
.button:hover {
    background-color: rgb(0, 119, 255);
    color: white;
}
/*(021)*/
.containerSection2Info a:hover{
    color: white;
}
/*FIN ESTILO SECCION 1*/
/*ESTILO SECCION 2*/
/*FIN ESTILO SECCION 2*/
/*ESTILO SECCION 3*/
/*FIN ESTILO SECCION 3*/
/*ESTILO SECCION 4*/
/*FIN ESTILO SECCION 4*/
/*ESTILO SECCION 5*/
/*FIN ESTILO SECCION 5*/
/*ESTILO SECCION 6*/
/*FIN ESTILO SECCION 6*/
/*ESTILO FOOTER*/
/*(001) edicion general de footer */
footer {
    background-color: rgb(85, 85, 85);
    height: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: white;
    margin-top: auto;
    
}
/*(001) estilo tanto del logo como las partes de la pagina */
.barraFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px 20px 0;

}
/*(011)*/
.barraFooter h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
/*(011)*/
.barraFooter1 ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
/*(011)*/
.barraFooter1 li {
    margin: 0 50px;
}
/*(011)*/
.barraFooter2 ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
/*(011)*/
.barraFooter2 li {
    margin: 0 50px;
}
/*(010) estilo de los iconos */
.redesSociales {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
/*(011)*/
.redesSociales li {
    margin: 0 10px;
}
/*(011) efecto al pasar el mouse*/
.redesSociales a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color .4s ease;
}
/*(022)*/
.redesSociales a:hover i {
    color: aqua;
}
/*(010) stule de la parte de copyright */
.footerFinal {
    background: black;
    padding: 20px 0;
    text-align: center;
}
/*(011)*/
.footerFinal p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
/*FIN ESTILO FOOTER*/
/*MEDIAQUERYS PARA TABLET*/
@media screen and (min-width:600px) and (max-width:991px) {
    /*SECCION 2*/
    /*(001)*/
    footer{
        margin-top: 100px;
    }
    /*(010) flex del cuadro1*/
    .containerSection1Parte1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    /*(010) flex del cuadro2*/
    .containerSection1Parte2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    /*FIN SECCION 2*/
}
/*MEDIAQUERYS PARA ORDENADOR*/
@media screen and (min-width:992px)  {
    /*SECCION 1*/
    /*(001)*/
    footer{
        margin-top: 75px;
    }
    /*(010)*/
    .containerSection1Cuadros{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /*(010) flex del cuadro1*/
    .containerSection1Parte1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    /*(010) flex del cuadro2*/
    .containerSection1Parte2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    /*FIN SECCION 2*/
}